<div class="container">
    <h1>CinoHolic</h1>
    <p class="Msg" *ngIf="!responseStatusText; else responseError"><span>Verified successfully,</span> create your new password and get back to world of stories</p>
        <ng-template #responseError>
            <p class="response-error"><i class="uil uil-info-circle"></i>Oops! {{responseStatusText}}</p>
        </ng-template>

    <form #forgotPasswordForm="ngForm" (ngSubmit)="resetPassword(forgotPasswordForm.value)">
        <input type="password" placeholder="Create password" name="createPassword" ngModel required #createPassword="ngModel">
        <div class="errMsg" *ngIf="createPassword.invalid && createPassword.touched"><i class="uil uil-info-circle"></i>Please
            provide valid password</div>
            <input type="password" placeholder="Re-enter password" name="password" ngModel required #password="ngModel">
        <div class="errMsg" *ngIf="password.invalid && password.touched"><i class="uil uil-info-circle"></i>Please
            provide valid password</div>
        <input type="submit" value="Submit" [disabled]="!forgotPasswordForm.valid">
    </form>
    
</div>