<head>
    <title>ForgotPassword | CinoHolic : Lights, camera, streaming!</title>
</head>


<!-- Email Verification -->
<div class="container" *ngIf="email_verification !== 'success'; else otp_section">
    <h1>CinoHolic</h1>
    <p class="Msg" *ngIf="!responseStatusText; else responseError"><span>Lost your password!</span> No worries just verify your email which is associated with your account</p>
        <ng-template #responseError>
            <p class="response-error"><i class="uil uil-info-circle"></i>Oops! {{responseStatusText}}</p>
        </ng-template>

    <form #forgotPasswordForm="ngForm" (ngSubmit)="verifyUser(forgotPasswordForm.value)">
        <input type="email" placeholder="Email" name="email" ngModel required #email="ngModel">
        <div class="errMsg" *ngIf="email.invalid && email.touched"><i class="uil uil-info-circle"></i>Please provide
            valid email address</div>
        <input type="submit" value="Verify" [disabled]="!forgotPasswordForm.valid">
    </form>
</div>

<!-- OTP Verification -->
<ng-template #otp_section>
    <app-otp-section></app-otp-section>
</ng-template>
<!-- Reset Password -->
<!-- <app-reset-password-section></app-reset-password-section> -->