<head>
    <title>CinoHolic : Lights, camera, streaming!</title>
</head>

<body>
    <div class="container">

        <div class="logo">
            <img src="assets/images/intro.png" alt="">
        </div>

        <div class="content">
            <h1>CinoHolic</h1>
            <p class="welMsg">
                Unlock a world of stories, where every click brings cinematic magic to life. Embrace the reel adventure
                and
                let your imagination take center stage.
                <span>Lights, camera, streaming!</span>
            </p>

            <div class="btn">
                <button class="signInbtn" routerLink="/signin-page">Sign In</button>
                <button class="signUpbtn" routerLink="/signup-page">Sign Up</button>
            </div>
        </div>
    </div>
</body>