<head>
    <title>Support | CinoHolic : Lights, camera, streaming!</title>
</head>


<div class="container">
    <div class="title">Need support?</div>
    <div class="sub-title">Let us know your problem and we will respond within 2-3 business days</div>

    <form action="">
        <input type="email" placeholder="Enter your email address">
        <textarea name="" id="" cols="30" rows="10" placeholder="Type your message"></textarea>
        <button class="send-message-btn">Send message</button>
    </form>
</div>
